$font-stack:    Helvetica;
$primary-color: white;

.app {
  background-color: #B0E0E6;	
  max-width: 600px;
  height: 875px;
  font: 100% $font-stack;
  color: $primary-color;

  &__loading {
    background-color: #B0E0E6;	
    max-width: 600px;
    height: 875px;
    font: 100% $font-stack;
    color: $primary-color;
   }
  }

 